html, body { padding:0; margin: 0; background-color: #0047AB; color: #fff; min-height: max-content; counter-reset: my-sec-counter; overflow-x: hidden; }
section { position: relative; width:90vw; text-align: center; left: 50%; transform: translateX(-50%); text-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); margin-top: 80px; }
a { text-decoration: none; font-family: 'Dosis', sans-serif;}
h1 { font-family: 'Lobster', sans-serif; font-weight: 400; font-size: 80px; line-height: 65px; padding:0; margin: 0; pointer-events: none; }
h3 { font-family: 'Dosis', sans-serif; font-weight: normal; font-size: 20px; line-height: 65px; padding:0; margin: 0; pointer-events: none;}
p { font-family: 'Dosis', sans-serif; font-size: 30px; }
img { border: 0 none; width: 30%; }

.maAdminLink { font-family: 'Dosis', sans-serif; font-size: 20px; color: #fff; position: fixed; top:0; left: calc(100% - 20px); transform: translateX(-100%); }

ul.navMA { list-style-type: none; text-align: center; padding-inline-start: 0px; }
ul.navMA li { list-style-type: none; display: inline-block; }
ul.navMA li a, ul.navMA li a:visited { font-size: 20px; margin: 0 10px; color: #fff; }
ul.navMA li a:hover { color: #00FFFF;}
ul.navMA li a.navActive { color: #00FFFF; text-decoration: underline; }

.ppg-bubbles { display:block; max-height: 300px; margin:0 auto; }

article.maPortfolio { width: 70%; margin: 0 auto; text-align: left; }
article.maPortfolio div { border-bottom: 1px dotted #00FFFF; padding: 20px 0; }
article.maPortfolio div:last-child { border-bottom: 0 none; }
article.maPortfolio div:before { counter-increment: my-sec-counter; content: counter(my-sec-counter) ". "; font-family: 'Lobster', sans-serif; font-size: 30px; position: absolute; top:0; left:-70px; }
article.maPortfolio p { display: block; font-family: 'Dosis', sans-serif; font-size: 20px; line-height: 20px; padding: 5px 0; margin: 0; display: block; font-weight: bold; }
article.maPortfolio strong { font-family: 'Lobster', sans-serif;font-size: 22px; font-weight: normal; }

form { width: 100%; max-width: 70vw; margin: 0 auto;}
form h1 { font-size: 30px; }
form table { font: 20px 'Lobster', sans-serif; letter-spacing:1px; width:100%; border: 1px dashed #666; padding:10px 10px; }
form table th { text-align:left; display: block; }
form table td { text-align:left; display: block; }
form table td input, form table td textarea { font-family: 'Dosis', sans-serif; font-weight: 300; width: calc(100% - 20px); display:inline-block; text-transform:none; padding: 10px; margin:5px auto; border-radius: 0px; border:#ccc 0px solid; font-size:16px; color:#fff; letter-spacing:1px; font-weight:bold; outline: 0; background-color: #00FFFF; }
form table td input:focus, form table td input:hover, form table td input:active,
form table td textarea:focus, form table td textarea:hover, form table td textarea:active { background-color: #00FFFF; color: #0047AB; }
form table td input:autofill, form table td input:-webkit-autofill { font-family: 'Dosis', sans-serif; font-weight: 300; background-color: burlywood; }
form table td ::-webkit-input-placeholder { /* Edge */ color: #CCC; }
form table td :-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #CCC; }
form table td ::placeholder { color: #CCC; }
form input.maButton { width:200px; padding:2px 5px; display:inline; margin:10px auto; background-color: #FAFA33; color: #000; cursor:pointer; border:0 none; border-radius: 5px; font: 20px 'Dosis', sans-serif; font-weight: bold;}
form input.maButton:hover { background-color:#666; color: #FAFA33; }
form ul { list-style-type: none; padding-inline-start: 0px; text-align: right; color: red; padding:0; margin:0; font-weight: bold; }
form ul li::before { display: inline; content: "*"; }
form ul li { list-style-type: none; }

footer { display: block; width: 70vw; text-align: center; margin:50px auto; font-family: 'Dosis', sans-serif; font-size: 14px;}