{% extends "base.html" %}
{% load static %}

{% block index %}
        <div class="container animate__animated animate__zoomIn">
            <div class="card-img">
                <a href="{% url 'admin:index' %}" target="_blank"><img src="{% static 'img/Syu.jpeg' %}"></a>
            </div>
            <div class="card-content">
                <h3>syuhadah muhamed sa'ad</h3>
                <p>Programmer in Eftech Drilling Solutions Sdn Bhd</p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/syuhadahmuhamedsaad/"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://github.com/syusaad"><i class="bx bxl-github"></i></a>
                </div>
            </div>
            <a href="{% url 'contact' %}" class="{% if request.resolver_match.view_name == 'contact' %}navActive{% endif %}"><button>Send a Message<i class="bx bxl-send"></i></button></a>
        </div>
{% endblock index %}

{% block portfolio %}
        <article class="maPortfolio">
        {% for x in data %}
            <div class="animate__animated animate__fadeInRight">
                <p><strong>Project &#9655;</strong> {{ x.project }}</p>
                <p><strong>Client &#9655;</strong> {{ x.client }}</p>
                <p><strong>Duration &#9655;</strong> {{ x.startDate }} to {{ x.endDate }}</p>
                <p><strong>Description &#9655;</strong> {{ x.description }}</p>
            </div>
            {% endfor %}
        </article>  
{% endblock portfolio %}

{% block contact %}
        <form method="post" novalidate autocomplete="off" class="animate__animated animate__fadeInRight">
        {% csrf_token %}
        {% if created %}
            <h1>Thanks for your message!</h1>
        {% else %}
            {% if notcreated %}
                <h1>Please fill in the blank!</h1>
            {% else %}
                <h1>Leave me a message!</h1>
            {% endif %}
        
            <table>
                {{ form }}
            </table>
            <input type="submit" name="submit" value="Send" class="maButton">
        {% endif %}
        </form>
{% endblock contact %}